.empty__main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.empty__title{
    font-size: 3rem;
}

.empty__btn{
    margin: 2rem;
    font-size: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 15%;
}

.empty__btn{
    cursor: pointer;
    padding: 0.8em 1.8em;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: black;
}
   
.empty__btn::before {
    content: '';
    width: 0;
    height: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: black;
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
.empty__btn:hover::before {
    width: 105%;
}
   
.empty__btn:hover {
    color: white;
}