.header{
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.logo__pic{
    margin-left: 2rem;
    height: 100%;
    width: 100%;
}

.nav__btn{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}

.nav__btn:hover{
    color: rgb(0, 0, 0, 0.7);
}