.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__nav{
    width: 50%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.logo{
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.logo__pic{
    height: 100%;
    width: 100%;
}

.nav__btn{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
}